<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wisewintech.dao.UserDAO">

    <select id="getUserBOList" resultType="com.wisewintech.base.entity.UserBO">
        select *  from user
    </select>

    <insert id="addUserBO">
        insert into user (name) values ('wy');
    </insert>

</mapper>